---
title: KLS Research Blog
top: Kyle Simek
layout: home 
---
{% for post in paginator.posts %}
    {% include custom/post_title %}
<ul class="firehose-post article">
    <a href=""></a>
    {% assign excerpt = true %}
    {% assign link_title = true %}
    {% assign content = post.content %}
      <a class="title-link" href="{{ site.baseurl }}{{post.url}}">
      <li class="title">{{ post_title }}</li>
      </a>
      <div class="date emphnext">{{ post.date | date: "%B %d, %Y" }}</div>
</ul>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl}}/{{paginator.previous_page_path}}" class="previous">&lt;&lt; Read Newer Posts</a>
  {% endif %}
  {% if paginator.next_page and paginator.previous_page %}
    |
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.baseurl}}/{{paginator.next_page_path}}" class="next ">Read Older Posts &gt;&gt;</a>
  {% endif %}
</div>
