<div id="page" class="article">
	
  {% assign post = page %}
  {% include post.html %}
  
  <div class="prev-next">
  {% if page.previous %}
    <a href="{{ site.baseurl}}{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">{{ page.previous.title }}&rarr;</a>
  {% endif %}
  {% if page.next %}
    <a href="{{ site.baseurl }}{{ page.next.url }}" class="next" title="{{ page.next.title }}">&larr; {{page.next.title}} </a>
  {% endif %}
  </div>
  <div class="clearer"> </div>

<div class="post-sharing">
 {% include JB/sharing %}
</div>

{% include JB/comments %}
  
</div><!-- End Page -->

